<hr>
<section class="post" data-comment-id="{{id}}">
    <div class="post-img-div">
        <img src="/assets/icons/default.png" alt="Profile avatar">
    </div>
    <div class="post-profile">
        <a href="/user/{{user.username}}" target="_blank">{{user.username}}</a>
    </div>
        <p class="post-p">{{comment}}</p>
    </a>
    <div class="date-made">
        <p>{{formatDate date_created}}</p>
    </div>
</section>