<section class="post" data-post-id="{{id}}">
    <div class="post-img-div">
        <img src="/assets/icons/default.png" alt="Profile avatar">
    </div>
    <div class="post-profile" data-user="{{user.id}}">
        <a href="/user/{{user.username}}" target="_blank">{{user.username}}</a>
        {{#isEqual user_id user.id}}
        <i class="fa-solid fa-pen-to-square" onclick="openEditModal(event)"></i>
        <dialog data-modal-edit>
            <div class="modal">
                <h2>What do you need to change.</h2>
                <hr>
                <div class="modal-wrapper logout-modal">
                    <button class="btn" onclick="handleEdit(event)">Yes</button>
                    <button class="btn" onclick="closeEditModal(event)">No</button>
                </div>
            </div>
        </dialog>
        {{/isEqual}}
    </div>
    <a href="/post/{{id}}">
        <p class="post-p">{{content}}</p>
        <hr>
    </a>
    <div class="date-made">
        <a href="/post/{{id}}"><i class="fa-solid fa-comment"></i>View Comments</a>
        <p>{{formatDate date_created}}</p>
    </div>
</section>